<!-- head.ejs -->

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>AskToHack</title>
<meta name="description" content="A free and modern UI toolkit for web makers based on the popular Bootstrap 4 framework.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/shards.css">
<link rel="stylesheet" href="../../css/shards-demo.css">

<script src="../../js/jquery.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/jquery.fileDownload.js"></script>
<script src="../../js/Chart.min.js"></script>
