<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      <%- include('./partials/head'); -%>
      <link rel="stylesheet" href="../../css/home.css">
    </head>

    <body>
      <div id="navbars">
        <%- include('./partials/navbar'); -%>
      </div>

      <!-- Cards -->
      <div id="cards" class="container mb-2 pt-4" style="padding-bottom: 1px">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
          <h3 class="mb-4">Chats</h3>
          <p>Choose an existing public chat or create yours !</p>
        </div>

        <div class="example col-md-12 ml-auto mr-auto">
          <div class="row" id="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card">
                <img class="card-img-top img_card" src="img/anony_disc.png" alt="Card image cap">
                <div class="card-body card_tcenter">
                  <h4 class="card-title">Discover</h4>
                  <p class="card-text">Discover with our IA the power of AskToHack chat !</p>
                  <a onclick="chat(1)" class="btn btn-primary">Connect</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 sm-hidden">
              <div class="card">
                <img class="card-img-top img_card" src="img/hacker.jpg" alt="Card image cap">
                <div class="card-body card_tcenter">
                  <h4 class="card-title">Open discussion</h4>
                  <p class="card-text">Discover what the others ethical hackers do on AskToHack !</p>
                  <a onclick="chat(2)" class="btn btn-primary">Connect</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 sm-hidden">
              <div class="card">
                <img class="card-img-top img_card" src="img/add.png" alt="Card image cap">
                <div class="card-body card_tcenter">
                  <h4 class="card-title">Create a chat</h4>
                  <p class="card-text">Manage your own chat for your tests with AskToHack !</p>
                  <a onclick="chat(3)" class="btn btn-primary">Create</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </body>
</html>

<script>

  var sess = <%- JSON.stringify(session) %>;

  function chat(i) {
    document.location.href = './chat/' + i;
  }

  function logout(){
  	document.location.href = "./logout";
  }

  $(document).ready(function(){

        let rooms = [{id: 1,name : "room1", desc: "chambre numero 1"},
                     {id: 2,name : "room2", desc: "chambre numero 2"},
                     {id: 3,name : "room3", desc: "chambre numero 3"},
                     {id: 4,name : "room4", desc: "chambre numero 4"}];


        for(i = 0; i<rooms.length; i++){
          $('#row').append("<div id=\""+rooms[i].name+"\" class=\"col-lg-4 col-md-6 col-sm-12 mb-4 sm-hidden\">");
          $('#'+rooms[i].name).append(" <div id=\"card_"+rooms[i].name+"\" class=\"card\">");
          $('#card_'+rooms[i].name).append("<img class=\"card-img-top img_card\" src=\"img/hacker.jpg\" alt=\"Card image cap\">");
          $('#card_'+rooms[i].name).append("<div id=\"card_body_"+rooms[i].name+"\" class=\"card-body card_tcenter\">");
          $('#card_body_'+rooms[i].name).append("<h4 class=\"card-title\">"+rooms[i].name+"</h4>")
                                      .append("<p class=\"card-text\">"+rooms[i].desc+"</p>")
                                      .append("<a onclick=\"chat("+rooms[i].id+")\" class=\"btn btn-primary\">Connect</a>");
        }
  });

</script>

<%- include('./partials/footer'); -%>
