<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      <%- include('./partials/head'); -%>
      <link rel="stylesheet" href="../../css/home.css">
    </head>

    <body>
      <div id="navbars">
        <%- include('./partials/navbar'); -%>
      </div>

      <!-- Cards -->
      <div id="cards" class="container mb-2 pt-4" style="padding-bottom: 1px">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
          <h3 class="mb-4">Chats</h3>
          <p>Choose an existing public chat or create yours !</p>
        </div>

        <div class="example col-md-12 ml-auto mr-auto">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card">
                <img class="card-img-top img_card" src="img/anony_disc.png" alt="Card image cap">
                <div class="card-body card_tcenter">
                  <h4 class="card-title">Discover</h4>
                  <p class="card-text">Discover with our IA the power of AskToHack chat !</p>
                  <a onclick="chat(1)" class="btn btn-primary">Connect</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 sm-hidden">
              <div class="card">
                <img class="card-img-top img_card" src="img/hacker.jpg" alt="Card image cap">
                <div class="card-body card_tcenter">
                  <h4 class="card-title">Open discussion</h4>
                  <p class="card-text">Discover what the others ethical hackers do on AskToHack !</p>
                  <a onclick="chat(2)" class="btn btn-primary">Connect</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 sm-hidden">
              <div class="card">
                <img class="card-img-top img_card" src="img/add.png" alt="Card image cap">
                <div class="card-body card_tcenter">
                  <h4 class="card-title">Create a chat</h4>
                  <p class="card-text">Manage your own chat for your tests with AskToHack !</p>
                  <a onclick="chat(3)" class="btn btn-primary">Create</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </body>
</html>

<script>

  var sess = <%- JSON.stringify(session) %>;

  function chat(i) {
    document.location.href = './chat/' + i;
  }

  function logout(){
  	document.location.href = "./logout";
  }

</script>

<%- include('./partials/footer'); -%>
