<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">

      <title>Shards Demo - A free and modern UI toolkit for web makers</title>
      <meta name="description" content="A free and modern UI toolkit for web makers based on the popular Bootstrap 4 framework.">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../css/shards.css">
      <link rel="stylesheet" href="../../css/shards-demo.css">

      <script src="../../js/jquery.js"></script>
      <script src="../../js/jquery-ui.js"></script>
      <script src="../../js/jquery.fileDownload.js"></script>
      <script src="../../js/Chart.min.js"></script>

    </head>

    <body id="login">

      <div class="loader">
        <div class="page-loader"></div>
      </div>

      <!-- Floating Shards -->
      <img src="img/logo.png" alt="Shard" class="shard">

      <!-- Welcome Section -->
      <div class="welcome d-flex justify-content-center flex-column">
        <div class="inner-wrapper mt-auto mb-auto">
          <h1 class="slide-in">AskToHack</h1>
          <p class="slide-in">A modern IA chatbox for ethical hackers.</p>
          <div class="action-links slide-in">
            <a href="https://designrevision.com/downloads/shards" class="btn btn-primary btn-pill align-self-center mr-2">Sign up</a>
            <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Sign in</a>
          </div>
        </div>
      </div>

      <!--
      <div class="grid">

        <img src="img/logo.png" alt="Logo" class="logo">
        <form action='/login' method='POST' class="form login">
            <div class="form__field">
                <label for="login__username"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use></svg><span class="hidden">Username</span></label>
                <input type="text" name="login" class="form__input" placeholder="Username" id="identifiant" required>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>

            <div class="form__field">
                <label for="login__password"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg><span class="hidden">Password</span></label>
                <input class="form__input" name="mdp" type="password" placeholder="Password" id="mdp" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mot de passe</label>
            </div>

            <div class="form__field">
                <input type="submit" value="Connexion" />
            </div>
        </form>

        <p class="text--center">Not a member? <a href="#">Sign up now</a> <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#arrow-right"></use></svg></p>

      </div>
    -->
    </body>
</html>

<script>



</script>

<script async defer src="https://buttons.github.io/buttons.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="../../js/shards.min.js"></script>
<script src="../../js/demo.min.js"></script>
