<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      <%- include('./partials/head'); -%>
      <link rel="stylesheet" href="../../css/custom.css">
    </head>

    <body id="login">

      <div class="alert alert-danger alert-dismissible fade show" id="alertBox" style="display:none" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="fa fa-exclamation-circle"></i>
          <strong>Sign in failed !</strong> username or password is incorrect.
      </div>

      <img src="img/logo.png" alt="Shard" class="shard signin">

      <div class="row mb-2 log">
        <div class="col-12">
          <h6 class="text-muted">Sign in</h6>
          <form action='/signin' method="POST">
            <div class="row">
              <div class="form-group col-md-6">
                <div class="input-group input-group-seamless">
                  <span class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-user"></i>
                    </span>
                  </span>
                  <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <div class="input-group input-group-seamless">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                  <span class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <div class="input-group input-group-seamless">
                  <input type="submit" class="form-control" id="submit" value="Sign in">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 offset-md-2">
                  <button onclick="signup()" id="newAccount_btn" class="form-control text-center">Create account</button>
              </div>
            </div>


          </form>
        </div>
      </div>

    </body>
</html>

<script>

function signup(){
document.location.href = "./signup";
}


let error = <%- JSON.stringify(error) %>;

$(document).ready(function () {

if(error === "true"){
  $("#alertBox").attr("style","");
}
});

</script>

<%- include('./partials/footer'); -%>
