<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      <%- include('./partials/head'); -%>
      <link rel="stylesheet" href="../../css/welcome.css">
    </head>

    <body id="login">
      <div class="loader">
        <div class="page-loader"></div>
      </div>

      <img src="img/logo.png" alt="Shard" class="shard">

      <!-- Welcome Section -->
      <div class="welcome d-flex justify-content-center flex-column">
        <div class="inner-wrapper mt-auto mb-auto">
          <h1 class="slide-in">AskToHack</h1>
          <p class="slide-in">A modern IA chatbox for ethical hackers.</p>
          <div class="action-links slide-in">
            <a onclick="signup()" id="welcomeSignup_btn" class="btn btn-pill align-self-center mr-2">Sign up</a>
            <a onclick="signin()" id="welcomeSignin_btn" class="btn btn-pill align-self-center">Sign in</a>
          </div>
        </div>
      </div>

    </body>
</html>

<script>

  function signin(){
    document.location.href = "./signin";
  }

  function signup(){
    document.location.href = "./signup";
  }

</script>

<%- include('./partials/footer'); -%>
